<h1>Contact</h1>

<div class="form-container">
  <img
    src="../../../assets/jordanair.png"
    alt="Air Jordan Logo Transparent Clipart - Air Jordan@clipartmax.com"
  />
  <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
    <h2>Get in touch</h2>
    <input type="text" formControlName="name" placeholder="Your Name" />
    <div
      class="alert-danger"
      *ngIf="name?.invalid && (name?.dirty || name?.touched)"
    >
      <div class="container-error-message" *ngIf="name?.errors?.['required']">
        Name is required
      </div>
      <div class="container-error-message" *ngIf="name?.errors?.['minlength']">
        Name must be at least 5 characters long.
      </div>
      <div
        class="container-error-message"
        *ngIf="(name?.dirty || name?.touched) && name?.invalid && name?.errors?.['pattern']"
      >
        Value has to be a valid input text.
      </div>
    </div>

    <input type="text" formControlName="subject" placeholder="Subject" />
    <div
      class="alert-danger"
      *ngIf="subject?.invalid && (subject?.dirty || subject?.touched)"
    >
      <div
        class="container-error-message"
        *ngIf="subject?.errors?.['required']"
      >
        Subject is required
      </div>
      <div
        class="container-error-message"
        *ngIf="subject?.errors?.['minlength']"
      >
        Subject must be at least 5 characters long.
      </div>
    </div>

    <input type="text" formControlName="from" placeholder="Your email" />

    <div
      class="alert-danger"
      *ngIf="from?.invalid && (from?.dirty || from?.touched)"
    >
      <div class="container-error-message" *ngIf="from?.errors?.['required']">
        Email is required
      </div>
      <div class="container-error-message" *ngIf="from?.errors?.['minlength']">
        Email must be at least 5 characters long.
      </div>
      <div
        class="container-error-message"
        *ngIf="(from?.dirty || from?.touched) && from?.invalid && from?.errors?.['pattern']"
      >
        Value has to be a valid email address.
      </div>
    </div>
    <textarea formControlName="body" placeholder="Type your message"></textarea>
    <div
      class="alert-danger"
      *ngIf="body?.invalid && (body?.dirty || body?.touched)"
    >
      <div class="container-error-message" *ngIf="body?.errors?.['required']">
        Message is required
      </div>
      <div class="container-error-message" *ngIf="body?.errors?.['minlength']">
        Message must be at least 10 characters long.
      </div>
    </div>
    <button type="submit" class="btn-send" [disabled]="!contactForm.valid">
      Send
    </button>
  </form>
</div>
