<div id="card-container">
  <img
    src="https://cdn.nba.com/logos/nba/1610612761/global/D/logo.svg"
    alt="logoTeam"
    class="team-logo"
  />
  <div class="wrapper">
    <img
      src="https://cdn.nba.com/headshots/nba/latest/1040x760/1630173.png"
      alt="player"
      class="player"
    />

    <div class="sub-stats-container">
      <span>Weight </span>
      <span> Height </span>
    </div>
    <h3>Team Name</h3>

    <div class="player-container">
      <span> Number:1 </span>
      <span> Age:20 </span>
    </div>
    <h3>Lebron James</h3>
    <div class="stats-container">
      <div class="item-wrapper">
        <div class="item">PPG:40</div>
        <div class="item">RPG:40</div>
      </div>
      <div class="item-wrapper">
        <div class="item">APG:40</div>
        <div class="item">PIE:40</div>
      </div>
      <div class="item-wrapper">
        <div class="item">Assists:40</div>
        <div class="item">Score:40</div>
      </div>
    </div>
  </div>
</div>
