<div  id="card-container">
  <img
    src="https://cdn.nba.com/logos/nba/1610612761/global/D/logo.svg"
    alt="logoTeam"
    class="team-logo"
  />
  <div class="wrapper">
    <img
      src="{{player.imageProfilePath}}"
      alt="player"
      class="player"
    />

    <div class="sub-stats-container">
      <span>{{player.weight}} </span>
      <span> {{player.height}} </span>
    </div>
    <h3>Team Name</h3>

    <div class="player-container">
      <span> Number:{{player.number}} </span>
      <span> Age:{{player.age}} </span>
    </div>
    <h3>{{player.name}} {{player.lastName}}</h3>
    <div class="stats-container">
      <div class="item-wrapper">
        <div class="item">PPG:{{player.stats.ppg}}</div>
        <div class="item">RPG:{{player.stats.rpg}}</div>
      </div>
      <div class="item-wrapper">
        <div class="item">APG:{{player.stats.apg}}</div>
        <div class="item">PIE:{{player.stats.pie}}</div>
      </div>
      <div class="item-wrapper">
        <div class="item">Assists:{{player.stats.assists}}</div>
        <div class="item">Points:{{player.stats.points}}</div>
      </div>
    </div>
  </div>
</div>
