<h1>Home</h1>
<app-carousel [images]="images" [autoSlide]="true"></app-carousel>

<h2>What is NBA?</h2>
<p>
  The Nba(National Basketball Association) is the major profesional basketball
  league in United States and the world,What is NBA, the league is composed of
  30 teams (29 in the United States and 1 in Canada).
  <br />
  <br />
  A typical NBA game usually lasts between 2 and 2.5 hours. However, that is not
  an exact number for all leagues or associations. As we also mentioned above,
  basketball game time will vary from league to league. In the National
  Basketball Association (NBA), each period will be 12 minutes.
  <br />
  <br />
  The Nba have four leagues:
  <br />
  <br />
</p>
<ul style="list-style: none;">
  <li>-WNBA</li>
  <br />
  <li>-NBA G League</li>
  <br />
  <li>-NBA 2K League</li>
  <br />
  <li>-Basketball Africa League</li>
  <br />
</ul>
